<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onerom.lipidlator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainLoading"
            android:noHistory="true"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".ResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeSelectionActivity"
            android:screenOrientation="portrait" />
        /* Jessica Sok: Fatty acids, Wax esters, Acyl carnitines, CoA esters, and Glycerolipids */

        // 1. Fatty acids selection screen
        <activity
            android:name=".FattyAcidsActivity"
            android:screenOrientation="portrait"/>
            // Move this to Screen you want to load first for testing!


        // 2. Wax esters selection screen
        <activity
            android:name=".WaxEstersActivity"
            android:screenOrientation="portrait" />
        // 3. Acyl carnitines selection screen
        <activity
            android:name=".AcylCarnitinesActivity"
            android:screenOrientation="portrait" />
        // 4. CoA esters selection screen
        <activity
            android:name=".CoA_EsterActivity"
            android:screenOrientation="portrait" />
        // 5. Glycerolipids selection screen
        <activity
            android:name=".GlycerolipidsActivity"
            android:screenOrientation="portrait" />
        // 6. Cardiolipins selection Activity
        <activity
            android:name=".CardiolipinsActivity"
            android:screenOrientation="portrait" />
        // 7. Glycerophospholipids selection Activity
        <activity
            android:name=".Glycerophospholipids_activity"
            android:screenOrientation="portrait" />
        //8. Cholesterol Esters selection activity
        <activity
            android:name=".CholesterolEstersResultAcivity"
            android:screenOrientation="portrait" />
        // 9. Sphingolipids selection activity
        <activity
            android:name=".Sphingolipids_Result_Activity"
            android:screenOrientation="portrait" />
        // 10. Cardiolipins selection activity
        <activity
            android:name=".Cardiolipins_Result_Activity"
            android:screenOrientation="portrait" />
        // 11. Cholesterol Esters selection activity
        <activity
            android:name=".CholesterolEstersActivity"
            android:screenOrientation="portrait" />
        // 12. Sphingolipids selection activity
        <activity
            android:name=".SphingolipidsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Glycerophospholipids_Result_Activity"></activity>
    </application>

</manifest>